@using MallMembership.CustomHtmlHepler


@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/CustomStyle.css" rel="stylesheet" />
<nav class="navbar navbar-default" >
    <ul class="nav navbar-nav">
        <li>
            <a href="@Url.Action("ApplicantInfo", "Applicant")">ApplicantInfo</a>
        </li>
        <li>
            @Html.MallWorkFlowActionLink("/Address/AddressInfo", (int?)Session["id"], "AddressInfo")
        </li>
        <li>
            @Html.MallWorkFlowActionLink("/Employment/EmploymentInfo", (int?)Session["AddressId"], "EmploymentInfo")
        </li>
    </ul>
</nav>
